*{
    margin: 0;
    padding: 0;
}

#container{
    margin: auto;
    margin-top: 100px;
    width: 500px;
    height: 300px;
    border-style: solid;
    border-color: gray;
}

#topBar{
    height: 75px;
    background-color: orangered;
}

#profileImage{
    width: 75px;
    margin-top: 35px;
    margin-left: 25px;
}

h1{
    margin-top: 45px;
    margin-left: 15px;
}

#location{
    margin-top: 15px;
}

#map{
    width: 15px;
    display: inline-block;
    margin-left: 15px;
}
h3{
    display: inline-block;
}

ul{
    margin-left: 15px;
    margin-top: 15px;
}

li{
    display: inline-block;
    font-weight: bold;
}

.vLine{
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: black;
    padding-right: 5px; 
}

h4{
    margin-top: 1px;
    margin-left: 15px;
}

#gear{
    width: 20px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    display: inline-block;
}

a{
    display: inline-block;
    margin-left: 5px;
    color: blue;
    margin-bottom: 5px;
}